<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>{{device.Alias}} <small class="badge badge-light text-capitalize">{{device.Icon}}</small></h5>
            <p class="text-muted m-0">{{device.Address}}</p>
            <p class="text-muted m-0" *ngIf="device.RSSI">RSSI: {{device.RSSI}}</p>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <button *ngIf="!device.Paired" class="btn btn-lg btn-block btn-outline-primary" (click)="pair()">
                Pair
            </button>
            <button *ngIf="device.Paired && !device.Connected" class="btn btn-block btn-lg btn-outline-success" (click)="connect()">
                Connect
            </button>
            <button *ngIf="device.Paired && device.Connected" class="btn btn-block btn-lg btn-outline-danger" (click)="disconnect()">
                Disconnect
            </button>
        </div>
    </div>
</div>
