<div class="container d-flex flex-column h-100 align-items-stretch justify-content-around">
    <div class="row h-50 my-3">
        <div class="col-4">
            <a routerLink="/bluetooth" class="btn btn-lg btn-light h-100 btn-block d-flex flex-column justify-content-center">Bluetooth</a>
        </div>
        <div class="col-4">
            <a routerLink="/usb" class="btn btn-lg btn-light h-100 btn-block d-flex flex-column justify-content-center">USB</a>
        </div>
        <div class="col-4">
            <a routerLink="/fm" class="btn btn-lg btn-light h-100 btn-block d-flex flex-column justify-content-center">FM Radio</a>
        </div>
    </div>
    <div class="row h-50 my-3">
        <div class="col-4">
            <a routerLink="/cardata" class="btn btn-lg btn-light h-100 btn-block d-flex flex-column justify-content-center">
                Car data
            </a>
        </div>
        <div class="col-4">
            <a routerLink="/phone" class="btn btn-lg btn-light h-100 btn-block d-flex flex-column justify-content-center">Phone</a>
        </div>
        <div class="col-4">
            <a routerLink="/settings" class="btn btn-lg btn-light h-100 btn-block d-flex flex-column justify-content-center">Settings</a>
        </div>
    </div>
</div>
