<div class="grid">
    <div class="row">
        <div class="grid-element" routerLink="/bluetooth">
            Bluetooth
        </div>
        <div class="grid-element">
            USB
        </div>
        <div class="grid-element">
            FM Radio
        </div>
    </div>
    <div class="row">
        <div class="grid-element">
            Car data
        </div>
        <div class="grid-element">
            Phone
        </div>
        <div class="grid-element">
            Settings
        </div>
    </div>
</div>
