#btprogress {
    height: 2px;
    .progress-bar {
        position: relative;
        animation: indefinite-progress-bar 3s infinite linear normal;
        width: 25%;
    }
}

@keyframes indefinite-progress-bar {
    from {
        left: -25%;

    }
    to {
        left: 100%;
    }
}
